asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
Django==3.2.5
idna==2.10
lxml==4.6.3
pytz==2021.1
requests==2.25.1
six==1.16.0
sqlparse==0.4.1
synology-api @ git+https://github.com/VincentRoma/synology-api@ade2ac142097c6ba05b39f5fc31c6bbdfd7aefa0
tpblite==0.8.0
urllib3==1.26.6
